*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
  }
  body{
    margin:0;
    padding:0;
    font-family:sans-serif;
    background: #dde1e7;
    min-height: 100vh;
  }
  .center,.content{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
  }
  .click-me{
    display:block;
    width:160px;
    height:50px;
    background: #dde1e7;
    text-align:center;
    font-size:22px;
    line-height:50px;
    cursor:pointer;
    box-shadow: -3px -3px 7px #fffdfdcc,
                3px 3px 5px rgba(94, 104, 121, 0.342);
  }